<div class="container">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
                <div class="form-group">
                    <label>Email: </label>
                    <input id="email" class="form-control" type="email" name="email" id="login_email" #email="ngModel" [(ngModel)]="login.email" required>
                </div>
                <div class="form-group">
                    <label>Senha: </label>
                    <input id="password" class="form-control" type="password" name="password" id="login_password" #password="ngModel" [(ngModel)]="login.passowrd" required>
                </div>
                <button class="btn btn-primary btn-block">ENTRAR</button>
            </form>

        </div>
    </div>
</div>