<div class="container">
    <h3>FAQ</h3>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" (keyup)="query($event.target.value)">
                </div>
            </form>
        </div>
    </div>
    <div *ngFor="let faq of faqs.data" class="row">
        <div class="col-sm-12">
            {{faq.title}} <small>publicado {{faq.publish}}</small>
            <div><code>{{faq.content}}</code></div>
        </div>
    </div>
</div>